@import '_function.scss';

html {
    font-size: 100%;
}

body {
    color: #333;
    background-color: #fff;
    font-size: 16px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    header {
        display: flex;
        justify-content: space-between;

        .logo {
            width: 260px;
            height: 260px;
            margin: -50px 0;
            cursor: pointer;
            user-select: none;
        }

        nav ul {
            display: flex;

            li {
                line-height: 160px;
                margin-right: 60px;

                a {
                    transition: 0.5s;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }

        }

        .hamburger-button {
            display: none;
        }
    }

    main {
        .menu {
            .menuImage {
                @include image();
            }

            .title {
                @include title();
            }

            .menus {
                width: 880px;
                margin: 90px auto 0;

                .plateMorning {
                    @include menu();
                }

                .plateLunch {
                    @include menu();
                }

                .pancake {
                    @include menu();
                }
            }
        }

        .about {
            width: 100%;

            .aboutImage {
                @include image();
                background-image: url(../img/ornaments.jpeg);

                .title {
                    @include title();
                }
            }

            .borderText {
                @include borderText();
                margin: 90px 44%;
            }

            .intro {
                display: flex;
                width: 880px;
                margin: 0 auto 90px;

                .introText {
                    width: 50%;
                    line-height: 3rem;
                    text-align: center;

                    .readMore {
                        margin-top: 20px;

                    }

                    a {
                        border: 2px solid $brown;
                        border-radius: 10px;
                        padding: 10px 40px;
                        transition: 0.5s;

                        &:hover {
                            background-color: $brown;
                            color: $yellow;
                        }
                    }
                }

                .introPic {
                    width: 50%;
                }
            }
        }

        .location {
            .locationImage {
                @include image();
                background-image: url(../img/street.jpeg);

                .title {
                    @include title();
                }
            }

            .borderText {
                @include borderText();
                margin: 90px 44%;
            }

            .googleMap {
                margin: 0 auto;
                width: 880px;
            }
        }
    }

    footer {
        margin: 90px 0 20px;

        .buttons {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 880px;

            .button {
                width: 150px;
                background-color: #fff;
                padding: 20px;
                border-radius: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                user-select: none;
                border: 2px solid $brown;
                transition: 0.5s;

                &:hover {
                    background-color: $brown;

                    p {
                        color: $yellow;
                    }
                }

                p {
                    text-align: center;
                    transition: 0.5s;

                }
            }

            .icons {
                display: flex;
                justify-content: space-between;

                .icon {
                    cursor: pointer;
                    user-select: none;
                }

                img {
                    width: 20px;

                }
            }
        }

        small p {
            text-align: center;
            margin-top: 90px;
        }
    }

    .back-top {
        position: fixed;
        bottom: 5%;
        right: 5%;
        display: none;
        background-color: $brown;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;

        i {
            color: $yellow;
        }
    }

    .bx-wrapper {
        border: none !important
    }
}

@media screen and (max-width: 599px) {
    .container {
        overflow: hidden;
        max-width: 100%;

        header {
            flex-direction: column;

            .pcNav {
                display: none;
            }

            .hamburger-button {
                display: flex;
                width: 50px;
                height: 50px;
                margin-top: 20px;
                margin-right: 20px;

                svg {
                    width: 50px;
                    height: 50px;
                }
            }


            .hamburger-nav {
                ul {
                    flex-direction: column;

                    li {
                        line-height: 50px;
                    }
                }
            }
        }

        main {
            #menu {
                .menus {
                    width: auto;
                }

                .picAndText {
                    flex-direction: column;
                    width: 200%;
                }

                .picAndText2 {
                    flex-direction: column;
                    width: 200%;
                }
            }

            #about {
                .intro {
                    flex-direction: column;
                    width: 200%;

                    .introPic {
                        margin-top: 90px;
                    }
                }
            }

        }

        #location {
            .googleMap {
                position: relative;
                width: 100%;
                height: 0;
                padding-top: 56.25%;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        footer {
            width: auto;

            .buttons {
                flex-direction: column;
                width: auto;

                .button {
                    width: 80%;
                    margin: 0 auto;
                }

                .icons {
                    width: 70%;
                    margin: 10px auto 40px
                }
            }
        }
    }
}